{% extends 'index.twig' %}

{% block breadcrumb_items %}
    <li><a href="{{ path_for('run:list') }}">Runs</a></li>
    <li><a href="{{ path_for('run:list', {source:source}) }}">{{ source }}</a></li>
    {% if symbol %}
        {% if run2 %}
            <li><a href="{{ path_for('run:diff', {source:source,run1:run1,run2:run2}) }}">{{ run }}</a></li>
        {% else %}
            <li><a href="{{ path_for('run:show', {source:source,run:run}) }}">{{ run }}</a></li>
        {% endif %}
        <li>{{ symbol }}</li>
        <li><a href="{{ path_for('callgraph:show-symbol', {source:source,run:run,symbol:symbol}) }}" class="btn btn-default btn-xs">callgraph</a></li>
    {% else %}
        {% if run2 %}
            <li>
                <a href="{{ path_for('run:show', {source:source,run:run1}) }}">{{ run1 }}</a> –
                <a href="{{ path_for('run:show', {source:source,run:run2}) }}">{{ run2 }}</a>
            </li>
            <li><a class="btn btn-default btn-xs"
                   href="{{ path_for('callgraph:diff', {source:source,run1:run1,run2:run2,symbol:symbol}) }}">callgraph</a></li>
        {% else %}
            <li>{{ run }}</li>
            <li><a class="btn btn-default btn-xs"
                   href="{{ path_for('callgraph:show', {source:source,run:run}) }}">callgraph</a></li>
        {% endif %}
    {% endif %}
{% endblock %}

{% block body %}
    <div class="container">
        {{ block('breadcrumb') }}
    </div>
    <div class="container-fluid">
        {{ body|raw }}
    </div>
{% endblock %}