{% extends 'index.twig' %}

{% block breadcrumb_items %}
    <li><a href="{{ path_for('run:list') }}">Runs</a></li>
    <li><a href="{{ path_for('run:list', {source:source}) }}">{{ source }}</a></li>
    {% if symbol %}
        <li><a href="{{ path_for('run:show', {source:source,run:run}) }}">{{ run }}</a></li>
        <li>{{ symbol }}</li>
    {% else %}
        <li>{{ run }}</li>
    {% endif %}
        <li><a class="btn btn-default btn-xs" href="{{ path_for('callgraph:show', {source:source,run:run}) }}">callgraph</a></li>
{% endblock %}

{% block body %}
    <div class="container">
        {{ block('breadcrumb') }}
    </div>
    <div class="container-fluid">
        {{ body|raw }}
    </div>
{% endblock %}