{% extends 'index.twig' %}

{% block breadcrumb_items %}
    {% if source %}
        <li><a href="{{ url('runs_list') }}">Runs</a></li>
        <li>{{ source }}</li>
    {% else %}
        <li>Runs</li>
    {% endif %}
{% endblock %}

{% block body %}
    {{ block('breadcrumb') }}
    <table class="table table-condensed table-hover">
        <thead>
        <tr>
            {#<th><a href="#">Aggregate</a></th>#}
            <th><a href="#">Compare</a></th>
            <th>ID</th>
            <th>Source</th>
            <th>Date</th>
            <th>Type</th>
        </tr>
        </thead>
        <tbody>
        {% for run in runs %}
            <tr>
                {#<td><input type="checkbox" name="aggregate" /></td>#}
                <td>
                    <label class="radio-inline"><input type="radio" name="from" value="{{ run.id }}"/> from</label>
                    <label class="radio-inline"><input type="radio" name="to" value="{{ run.id }}"/> to</label>
                </td>
                <td><a href="{{ url('single_run', {source:run.source,run:run.id}) }}">{{ run.id }}</a></td>
                <td><a href="{{ url('runs_list', {source:run.source}) }}">{{ run.source }}</a></td>
                <td>{{ run.time|date('Y-m-d h:m:s') }}</td>
                <td>{{ run.suffix }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}