{% extends 'index.twig' %}

{% block breadcrumb_items %}
    {% if source %}
        <li><a href="{{ url('runs_list') }}">Runs</a></li>
        <li>{{ source }}</li>
    {% else %}
        <li>Runs</li>
    {% endif %}
{% endblock %}

{% block body %}
    {{ block('breadcrumb') }}
    <table class="table table-condensed table-hover">
        <thead>
        <tr>
            <th>ID</th>
            <th>Source</th>
            <th>Date</th>
            <th>Type</th>
        </tr>
        </thead>
        <tbody>
        {% for run in runs %}
            <tr>
                <td><a href="{{ url('single_run', {source:run.source,run:run.id}) }}">{{ run.id }}</a></td>
                <td><a href="{{ url('runs_list', {source:run.source}) }}">{{ run.source }}</a></td>
                <td>{{ run.time }}</td>
                <td>{{ run.suffix }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}